@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

$sans: 'Lato', sans-serif;
$title: 'Oswald', sans-serif;

$yellow: #FFD647;
$orange: #faa230;

body {
    font-family: $sans;
    background-color: #F8F6F5;
    @media screen and (max-width: 768px) {
        font-size: 90%;
    }
}

* { transition: .125s ease-in; }

h1,h2 { font-family: $title; }
.bg-yellow { background-color: $yellow; }

// navbar
.trevette-logo { 
    height: 35px; 
    width: 138px;
    background-image: url('/gfx/logo.svg');
    background-size: cover;
    @media screen and (min-width: 769px) {
        height: 50px; 
        width: 197px;
    }
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    
    &-container {
        background: #FFD647;
    }
}

#navbarMenu {
    @media screen and (max-width: 992px) {
        padding: 1rem 1.25rem;
    }
}

// page body
.main-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 992px) { flex-direction: column; }
}

.wrap-main {
    flex: 6;
    order: 0;
}

.wrap-garage {
    flex: 3;
    margin-left: 1rem;
    border-radius: 5px;
    @media screen and (max-width: 992px) { 
        h2 { margin-top: 1rem; }
        margin-left: 0; 
    }

    .module {
        height: 120px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 5px rgba(#555451, 0.25);
        border-radius: 5px;
        margin: 1rem 0;
    }
}

// object container 
.object-wrap {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(#555451, 0.25);
    overflow: hidden;
}

.object {
    border-radius: 5px;

    &__photo {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info {
        padding: 2rem;

        &--basic {
            margin-bottom: 2rem;
            .flavor-title { margin-top: .5rem; }
            button { 
                font-family: $title; 
                box-shadow: 0 0.375em 0 $yellow; 
                border: 0.125rem solid $yellow;
                &:hover {
                    box-shadow: 0 0.375em 0 $orange; 
                    border: 0.125rem solid $orange;
                }
            }
            .badge { 
                font-size: 90%; 
                margin-right: .5rem; 
                padding: .35rem .6rem;
            }
            .price { 
                color: #555451; 
                text-align: center; 
                margin-top: .5rem; 
            }
        }

        &--technical {
            .title { margin-top: .5rem; }

            .box {
                display: flex;
                flex-direction: column;
                
                @media screen and (min-width: 1200px) {
                    flex-direction: row;
                }
                
                &:not(:last-of-type) { 
                    @media screen and (min-width: 1200px) {
                        margin-bottom: .5rem; 
                    }
                }

                .module {
                    margin-bottom: .5rem; 
                    @media screen and (min-width: 1200px) {
                        margin-right: .5rem;
                        margin-bottom: 0; 
                    }
                    flex: 1;
                    border-bottom: 1px solid #a3a3a1;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: .15rem;

                    .left {
                        .fa, .fas { margin-right: .5rem; }
                    }

                    .right {
                        span { color: #232123; }
                    }

                    &:last-of-type {
                        margin-right: 0;
                        @media screen and (min-width: 1200px) {
                            margin-left: .5rem;
                        }
                    }
                }
            }
        }
    }

    &__gallery {
        display: flex;
        flex: row wrap;
        margin: 1rem 0rem;
        @media screen and(min-width: 768px) { padding: 1rem 4rem; }
        @media screen and(min-width: 992px) { padding: 1rem 0rem; }
        @media screen and(min-width: 1200px) { padding: 1rem 6rem; }

        .gallery-img {
            flex: 1;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}