@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

$sans: 'Montserrat', sans-serif;
$title: 'Oswald', sans-serif;

$yellow: #FFD647;
$orange: #faa230;

body {
    font-family: $sans;
    background-color: #F8F6F5;
    @media screen and (max-width: 768px) {
        font-size: 90%;
    }
}

* { transition: all .125s ease-in; }

h1,h2 { font-family: $title; }
.bg-yellow { background-color: $yellow; }
.padded { padding: 2rem; }

// navbar
.trevette-logo { 
    height: 35px; 
    width: 138px;
    background-image: url('/gfx/logo.svg');
    background-size: cover;
    @media screen and (min-width: 769px) {
        height: 50px; 
        width: 197px;
    }
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    
    &-container {
        background: #FFD647;
    }
}

#navbarMenu {
    @media screen and (max-width: 992px) {
        padding: 1rem 1.25rem;
    }
}

// page body
.main-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 992px) { flex-direction: column; }
}

.wrap-main {
    flex: 6;
    order: 0;
}

.wrap-side {
    flex: 3;
    margin-left: 1rem;
    border-radius: 5px;
    @media screen and (max-width: 992px) { 
        margin-top: 1rem; 
        margin-left: 0; 
    }

    .module {
        height: 120px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 5px rgba(#555451, 0.25);
        border-radius: 5px;
        margin: 1rem 0;
    }
}

// component container 
.component-wrap {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(#555451, 0.25);
    overflow: hidden;
}

.page {
    padding: 2rem;
}

